.flex-wrapper {
  /*
  border: 10px solid #00cdcd;
  lime-#00FF00
  */
  border: 10px solid #000000;
  background-color: #66b266;
  /*
  background-color: #ffffff;
  */
  min-height: 1000px;
  min-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  min-height: 1000px;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  /*
  font: bold 24px verdana;
  */
  text-align: center;

  display: grid;
  grid-template-areas:  "left unity-env right";

  /*
  "left select-panel right";

  grid-template-rows: auto 18%;
  */
  grid-template-columns: 190px auto 190px;

  /*
  display: grid;
  grid-template-areas: "menuBar PROJECTS BUILD SOURCE"
                       "menuBar PROJECTS OVERVIEW SOURCE";

  grid-template-rows: 75% 25%;
  grid-template-columns: 3% 15% 67% 15%;
  overflow: hidden;
  */
}

/*
body { padding: 0; margin: 0 }
#unity-container { position: absolute }
*/

#left-panel{
  width: 190px;
  height: 100%;
  /*
  height: 200px;
  */
  background-color: #000000;
  grid-area: left;
}

/*
#group-info {
  width: 200px;
  height: 200px;
  background-color: #000000;
}
*/

#team-logo1 { 
  float:left;
  margin-left: 0px;
  margin-top: 5px;
  width: 175px;
  height: 182px;
  background: url('teamLG_175x182.png') no-repeat center;
  /*
  width: 96px;
  height: 100px;
  background: url('teamLG_96x100.png') no-repeat center;
  */

}

#team-logo2 {
  float:right;
  margin-right: 0px;
  margin-top: 5px;
  width: 175px;
  height: 182px;
  background: url('teamLG_175x182.png') no-repeat center;
  /*
  width: 96px;
  height: 100px;
  background: url('teamLG_96x100.png') no-repeat center;
  */

}


#right-panel{
  width: 190px;
  height: 100%;
  /*
  height: 200px;
  */
  background-color: #000000;

  grid-area: right;
}

#unity-container { 
  position: absolute;
  width: auto;
  height: auto;
  /*
  border: 5px solid #000000;
  */
  border: 7px solid #000000;
  grid-area: unity-env;
}

#unity-container.unity-desktop { background-color: #ffffff; left: 50%; top: 50%; transform: translate(-50%, -50%) }

#unity-canvas { 
  /*
  display: block;
  background: #231F20;
   will need to change max-specs to implement fullscreen feature
  
  background: url('unity_game/TemplateData/display_preInterview.png') 0 0;
  
  background-image: url('my-unity-react-app/dist/unity_game/TemplateData/display_preInterview.png');
  background-repeat: no-repeat;
  background-size: cover;
  */

  background-color: #231F20;

  width: 100%;
  height: auto;
  /*
  max-width: 1400px;
  max-height: 1000px;
  background-color: #231F20
  background: red;
  position: absolute;
  */
}

#prevImg {
	/*
  height: 850px;
  width: 1400px;
	*/
	width: auto;
	height: auto;
}


img {
	
  width: auto;
  height: auto;


	/*
  height: 850px;
  width: 1400px;
  object-fit: cover;
	*/
}


/*
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
*/

#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }

#unity-footer {
  /*
  position: absolute;
  align-items: center;
  */
  position: relative;
  width: auto;
  height: 60px;
}

#interview-type {
  /*
  To implement
  */

}



/*
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
*/

#unity-fullscreen-button {
  border: 4px solid #000000;
  font: bold 20px palatino;

  width: 45px;
  height: 45px;
  position: absolute;
  right: 15px;
  top: 5px;
  vertical-align: center;
}


/*
#unity-fullscreen-button { float: right; width: 40px; height: 40px; background: url('fullscreen-button.png') no-repeat center }
*/

#unity-build-title { float: right; margin-right: 80px; margin-top: 20px; font: bold 24px palatino; vertical-align: center }

#interviewA {
  background: black;
  border: 4px solid #00CED1;
  font: bold 16px palatino;
  color: white;

  width: auto;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
  vertical-align: center;
}
#interviewB {
  background: black;
  border: 4px solid #00CED1;
  font: bold 16px palatino;
  color: white;

  width: auto;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 150px;
}




































